// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300;400;500;700');

// for fonts
$regularFont: 'Roboto', Helvetica, Arial, sans-serif;
$fontA: 'Oswald', sans-serif;

$white: #fff;
$black: #000;
$orange: #faad3c;
$red: #c31846;
$green: #5c5e5b;
$blue: #5571bd;
